@import url('https://fonts.googleapis.com/css?family=Hanalei+Fill');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
body {
	background-image: url("https://newevolutiondesigns.com/images/freebies/black-wallpaper-10.jpg");
	background-size: cover;
}
h1 {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 300%;
	text-align: center;
	color: white;
}

p {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 200%;
	text-align: center;
	color: white;
}
.next-button {
	font-family: 'Gloria Hallelujah', cursive;
	border-radius: 4px;
	border-color: white;
	color: white;
	font-size: 300%;
	background-color: transparent;
	text-align: center;
}
.next-button:hover {
	background-color: green;
	opacity: .4;
}
a {
	color: white;
	font-style: none;
}